@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: $homepage-items;
  font-weight: $weight-800;
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;

  &__dark-mode {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
  }

  &__dark-mode--paragraph {
    display: inline-block;
  }
}

.main {
  &__search-box {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  #flag-search {
    flex-grow: 1;
    margin-left: 10px;
  }

  &__dropdown {
    margin: 20px;
  }

  &__flags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  // on larger devices situate it better

  &__flags--child {
    flex-basis: 300px;
    margin: 60px auto;
    border: 1px solid black;
  }

  .content {
    padding: 20px;

    .search-country {
      padding: 15px 0;
    }

    .flag-population {
      padding: 15px 0;
    }
  }
}
